@import "normalize";
@import "compass";
@import "susy";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true
    )
  );

@include border-box-sizing;

@import "grid";         // Custom site grid rules
@import "mixins";       // Custom site mixins
@import "document";     // Custom site document rules